form{
    display: grid;
    width: 600px;
    grid-template-columns: 1fr 50px;
}
input{
    height: 2em;
    color: green;
}
input:hover{
    color: red;
}
#super{
    width: 100%;
    padding-left: 10px;
}